<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- TestSetting must remain as the first key for the index test -->
    <add key="TestSetting" value="Expected" />
  </appSettings>
  <connectionStrings>
    <!-- Thisis for unit test purposes do not remove/change position or the test will break -->
    <add name="DefaultDB" providerName="System.Data.SqlClient" connectionString="Data Source=.; Initial Catalog=TestDB; Integrated Security=true; MultipleActiveResultSets=false;" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup></configuration>
