@using Trident.UI.Blazor.Components
@inherits BaseRazorComponent

<h3>@Title</h3>
<div>
    "An Error Occured while trying to process your request".
</div>
<div>
    @Response
</div>
<RadzenButton Click="OkButton_Clicked" Text="OK" />
