@inherits BaseRazorComponent
<div style='text-align:center;margin:auto;'>
    @((MarkupString)"Text")
    <br />
    <RadzenButton class="btn btn-primary" Click="OkButton_Clicked">OK</RadzenButton>
</div>
