@*<div class="modal @ModalStyle" tabindex="-1" role="dialog" style="display:@ModalDisplay">*@
<div class="modal fade show drop-down-modal @ModalStyle"
     id="@Guid.NewGuid()" tabindex="-1" role="dialog" aria-modal="true"
     style="display:@_modalDisplay;max-height:calc(100vh-210px);overflow-y:auto;">

    <div class="modal-dialog modal-lg rsm-dialog" role="dialog">
        @ChildContent
    </div>
</div>


