<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.0" targetFramework="net471" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net471" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="SexyProxy" version="2.0.79" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>