<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Test" value="XMLConfigVal" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultDB" connectionString="Server=.;Database=DemoDB;Integrated Security=true" providerName="System.Data.SqlClient"  />
    <add name="DefaultDB2" connectionString="Server=.;Database=TestXML" providerName="CosmosDB"/>
    <add name="DefaultDB3" connectionString="Server=.;Database=TestXML" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>